test

In [1]:
import pandas as pd
d = {"A":[1,2,3], "b": [4,5,6]}
df= pd.DataFrame(data=d)
df

   A  b
0  1  4
1  2  5
2  3  6

1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.3.3'

How to create a series from a list, numpy array and dict?

In [3]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
s1 = pd.Series(mylist)
print(s1)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [4]:
s2 = pd.Series(mydict)
print(s2)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [5]:
s3 = pd.Series(mydict)
print(s3)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

3. How to convert the index of a series into a column of a dataframe?

In [6]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df_ser= pd.DataFrame(ser)
print(df_ser)
print(df_ser.reset_index())

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25
   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [7]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
ser1, ser2
df = pd.concat([ser1,ser2], axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

5. How to assign name to the series’ index?

Give a name to the series ser calling it ‘alphabets’.

Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [8]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='alpha')
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alpha, dtype: object

6. How to get the items of series A not present in series B?

From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [9]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1[~ser1.isin(ser2)]
ser3

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [10]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

ser = pd.Series(np.random.normal(10, 5, 25))

In [11]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 3.31920095,  6.92612422,  9.53911397, 13.81179916, 18.87620139])

9. How to get frequency counts of unique items of a series?
Calculte the frequency counts of each unique value ser.

Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [12]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)
print(ser.value_counts())

0     g
1     h
2     f
3     f
4     g
5     d
6     f
7     a
8     f
9     g
10    h
11    e
12    a
13    b
14    a
15    d
16    d
17    f
18    b
19    g
20    g
21    h
22    e
23    f
24    h
25    c
26    g
27    h
28    e
29    h
dtype: object
g    6
h    6
f    6
d    3
a    3
e    3
b    2
c    1
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [13]:
np.random.RandomState(100) 
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
print(ser.value_counts())
result = ser[~ser.isin(ser.value_counts().index[:1])] = 'Other'
print(ser)

0     3
1     3
2     1
3     3
4     3
5     1
6     4
7     4
8     1
9     2
10    2
11    4
dtype: int32
3    4
1    3
4    3
2    2
dtype: int64
0         3
1         3
2     Other
3         3
4         3
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
dtype: object

11. How to bin a numeric series to 10 groups of equal size?
Difficulty Level: L2

Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input

ser = pd.Series(np.random.random(20))
Desired Output
First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [14]:
ser = pd.Series(np.random.random(20))
print(ser.head(20))
print(ser.head(-1))

0     0.419953
1     0.009946
2     0.116717
3     0.877835
4     0.568137
5     0.316459
6     0.712421
7     0.863240
8     0.021835
9     0.721262
10    0.188892
11    0.265156
12    0.517469
13    0.972406
14    0.887558
15    0.521602
16    0.166505
17    0.120440
18    0.498377
19    0.714750
dtype: float64
0     0.419953
1     0.009946
2     0.116717
3     0.877835
4     0.568137
5     0.316459
6     0.712421
7     0.863240
8     0.021835
9     0.721262
10    0.188892
11    0.265156
12    0.517469
13    0.972406
14    0.887558
15    0.521602
16    0.166505
17    0.120440
18    0.498377
dtype: float64

In [15]:
import pandas as pd
contacts = {'John': ['312-555-1234'], 'Paul': ['312-555-3123'], 'George': ['312-555-3333'], 'Ringo': ['312-555-2222']}
df=pd.DataFrame(contacts, columns=['name', 'telephone'])
df

Empty DataFrame
Columns: [name, telephone]
Index: []

In [16]:
pd.Series([3, -5, 7, 4], index=['a','b','c','d'])

a    3
b   -5
c    7
d    4
dtype: int64

12. How to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

ser = pd.Series(np.random.randint(1, 10, 35))

In [17]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(ser)
print(df)

0     3
1     1
2     1
3     6
4     9
5     3
6     9
7     7
8     9
9     9
10    1
11    1
12    8
13    8
14    9
15    6
16    9
17    9
18    9
19    7
20    2
21    9
22    7
23    8
24    8
25    8
26    8
27    9
28    3
29    2
30    1
31    7
32    2
33    3
34    5
dtype: int32
   0  1  2  3  4
0  3  1  1  6  9
1  3  9  7  9  9
2  1  1  8  8  9
3  6  9  9  9  7
4  2  9  7  8  8
5  8  8  9  3  2
6  1  7  2  3  5

In [18]:
np.__version__

'1.21.2'

14. How to extract items at given positions from a series
Difficulty Level: L1

From ser, extract the items at positions in list pos.

Input

In [19]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [20]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [21]:
df = pd.concat([ser1, ser2], axis=1) # Horizontal
df1 = pd.DataFrame()
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

##16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

In [22]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

##17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2

Compute the mean squared error of truth and pred series.

Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [23]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.396941549595692

##18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2

Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [24]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

##19. How to calculate the number of characters in each word in a series?
Difficulty Level: L2

Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [25]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

##20. How to compute difference of differences between consequtive numbers of a series?
Difficulty Level: L1

Difference of differences between the consequtive numbers of ser.

In [26]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?
Difficiulty Level: L2

Input

In [27]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

##23. How to convert year-month string to dates corresponding to the 4th day of the month?
Difficiulty Level: L2

##Change ser to dates that start with 4th of the respective months.

Input

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [28]:
from dateutil.parser import parse
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

##26. How to get the mean of a series grouped by another series?
Difficiulty Level: L2

Compute the mean of weights of each fruit.

In [29]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'apple', 'banana', 'banana', 'apple', 'banana', 'carrot', 'banana', 'carrot', 'carrot']

In [30]:
weights.groupby(fruit).mean()

apple     3.500000
banana    4.400000
carrot    8.666667
dtype: float64

49. How to filter every nth row in a dataframe?
Difficulty Level: L1

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

##50. How to create a primary key index by combining relevant columns?
Difficulty Level: L2

In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

Input

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df)
print(df.index.is_unique)

                          Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small              Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize         missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                   Audi       90  Compact       25.9       32.3
Audi_100_Midsize                  Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van       16.6       22.7
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo_240_Compact                Volvo      240  Compact       21.8       23.5
missing_850_Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]
True

##57. How to reverse the rows of a dataframe?
Difficulty Level: L2

Reverse all the rows of dataframe df.

Input

In [33]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[::-1, :]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [41]:
#72. How to get the positions where values of two columns match?

In [40]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
print(df.fruit1)
print(df.fruit2)
print(np.where(df.fruit1 == df.fruit2))

0     apple
1     apple
2    banana
3    banana
4     apple
5    banana
6    banana
7    banana
8    orange
9    banana
Name: fruit1, dtype: object
0     apple
1    orange
2    banana
3    banana
4    orange
5     apple
6    orange
7     apple
8    orange
9    banana
Name: fruit2, dtype: object
(array([0, 2, 3, 8, 9], dtype=int64),)